<%- include('partials/header') %>

<h1> 
    Quiz Completed! 
</h1>
<div class="completion">
    <p id="yourStreak">
        Your Streak: <%= currentStreak %> !
        <img src="/photos/flame.avif" alt="flame" width="25px">
    </p>


    <p>
        start a new quiz to beat this streak, or return to home!
    </p>

    <form action="/quiz" mathod="GET">
        <!-- streak passed to quiz -->
        <input type="hidden" name="streak" value="0">
        <button type="submit">Start New Quiz</button>
    </form>

    <form action="/" method="GET">
        <button type="submit">Return to Home</button>
    </form>
</div>